.back{
    height: auto;
    width: 11%;
}

.coracao{
    align-items: center;
    width: 15%;
    display: block;
    margin: 0 auto;
    margin-top: -7%;

}

.texto1{
    font-family: "Phudu", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 36px;
    text-align: center;
    margin-top: 5%;
    line-height: 0.1; 
}

.texto2{
    font-family: "Phudu", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 45px;
    color: #0232B5;
    text-align: center;
 
}

.texto3{
    font-family: "Phudu", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    line-height: 0.1; 
    margin-bottom: 6%;
}