* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden; /* Remove qualquer overflow horizontal */
}

body {
    font-family: "Phudu", system-ui;
}

/* navbar */

nav {
    height: 100%;
    width: 20%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(255, 255, 255);
}

#logo {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo img {
    width: 70%;
}

#lista {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    background-color: #0232B5;
    border-radius: 0 20px 0 0;
}

#perfil {
    width: 100%;
    height: 18%;
    display: grid;
    justify-content: center;
    justify-items: center;
    text-align: center;
    border-radius: 0 20px 0 0;
    margin-bottom: 38px;
    margin-top: 10px;
}

#perfil a {
    width: 100%;
    height: 100%;
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    text-decoration: none;
    color: white;
    font-family: "Phudu", system-ui;
    position: relative;
}

#perfil a::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: white;
    width: 0;
    left: 50%;
    bottom: 0;
    transition: width 0.4s ease, left 0.4s ease;
}

#perfil a:hover::after {
    width: 100%;
    left: 0;
    box-shadow: 0 2px 30px #FFFFFF;
}

#perfil img {
    width: 60%;
}

#itens {
    width: 100%;
    height: 80%;
}

#itens ul {
    width: 100%;
    height: 50%;
}

#itens li {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

#itembotao {
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    position: relative;
    transition: color 0.3s, box-shadow 0.3s;
}

#itembotao:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 0;
    left: 50%;
    bottom: -2px;
    background-color: #FFFFFF;
    transition: width 0.5s, left 0.5s;
}

#itembotao:hover {
    color: #FFFFFF;
}

#itembotao:hover:after {
    width: 100%;
    left: 0;
    box-shadow: 0 2px 30px #FFFFFF;
}

#itens img {
    width: 20px;
    margin-right: 10px;
    margin-left: 10%;
}

#itens p {
    margin: 0;
    font-size: 0.9rem;
}

#voluntario {
    height: 45%;
    width: 100%;
    margin-top: 36px;
}

#texto {
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#texto p {
    font-size: 20px;
    text-align: center;
}

#botao {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#botao a {
    width: 50%;
    height: 65%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    color: black;  
    text-decoration: none; 
    transition: 0.3s;
}

#botao a:hover {
    transform: scale(1.1);
}

/* fim da navbar  */

#nossas-acoes,
#necessitadas {
    width: calc(100% - 20%); /* Garante que o conteúdo ocupe o espaço restante */
    height: auto;
    margin-left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

#nossas-acoes p,
#necessitadas p {
    font-size: 30px;
    font-family: "Phudu", system-ui;
}

/* Estilo para os blocos */
#cartoes {
    width: calc(100% - 20%); /* Garante que o conteúdo ocupe o espaço restante */
    height: 15em;
    margin-left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: aquamarine;
}

.bloco {
    width: 25%;
    height: 175px; /* Definindo uma altura para os blocos */
    background-color: red; /* Cor de fundo para visualização */
    margin: 1em auto; /* Margin para espaçamento */
}
